<div class="main-content">
	<div class="container-fluid">
		<div id="userModal" class="modal fade" role="dialog">
		    <div class="modal-dialog" style="margin-top: 1em;">
		        <div class="card modal-content">
		        	<div class="card-header modal-header" data-background-color="blue">
		        		<h4 class="title">
		        			<i class="material-icons" style="color:white; padding: 7.5px">account_box</i>{{modal_title}}
		        			<i class="material-icons pull-right close" style="color:white; padding: 7.5px" data-dismiss="modal" id="exit_form">power_settings_new</i>
		        		</h4>
		          	</div>
		          	<div class="card-content modal-body">
		          		<div class="row">
		                	<div class="col-md-10 col-md-offset-1">
		                    	<form class="form-horizontal" (submit)="toSaveUser($event)">
			                        <div class="form-group">
			                            <label class="control-label">ชื่อ - นามสกุล</label>
			                            <input type="text" id="name" name="name" value="{{user_id.name}}" class="form-control" required>
			                        </div>
			                        <div class="form-group">
			                            <label class="control-label">อีเมล์</label>
			                            <input type="email" id="email" name="email" value="{{user_id.email}}" class="form-control" required>
			                        </div>
                              <div class="form-group">
                                <label class="control-label">ชื่อผู้ใช้</label>
                                <input type="text" id="username" name="username" value="{{user_id.username}}" class="form-control" required>
                              </div>
			                        <div class="form-group password">
			                            <label class="control-label">รหัสผ่าน</label>
			                            <input type="password" name="password" id="password" class="form-control" required>
			                        </div>
			                        <div class="form-group">
                                  <label class="control-label">บัตร</label>
			                            <select class="form-control" name="rfid" id="rfid" value="{{user_id.rfid}}" required>
                                    <option value="">กรุณาเลือกบัตร</option>
                                    <option *ngIf="modal_state === 'edit'" value="{{user_id.rfid}}">{{user_id.rfid_data}}</option>
                                    <option *ngFor="let item of rfid" value="{{ item.rfid }}">{{ item.rfid_data }}</option>
                                  </select>
			                        </div>
                              <div class="form-group">
                                <label class="control-label">ทะเบียนรถ</label>
                                <input type="text" id="license" name="license" value="{{ user_id.license }}" class="form-control" required>
                              </div>
                              <div class="form-group">
                                <label class="control-label">ที่อยู่</label>
                                <input type="text" id="address" name="address" value="{{ user_id.address_data }}" class="form-control" required>
                              </div>
			                        <div class="text-center">
			                        	<button type="submit" class="btn btn-success">ยืนยัน</button>
			            				      <button type="reset" id="reset" class="btn btn-danger">รีเซ็ต</button>
			                        </div>
			                    </form>
		                    </div>
		                </div>
		            </div>
		      	</div>
		    </div>
		</div>

		<div class="card">
      <div class="card-header" data-background-color="red">
        <h4 class="title"><i class="material-icons" style="color:white; padding: 7.5px">account_box</i>
          ตารางข้อมูลสมาชิก&nbsp;
          <button type="button" class="btn btn-sm btn-info" data-toggle="modal" (click)="modalToggle('add')" data-target="#userModal">เพิ่มข้อมูลสมาชิก</button>
        </h4>
      </div>
      <div class="card-content">
        <table class="table row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead class="text-danger">
          <tr>
            <th>รหัส</th>
            <th>ชื่อ</th>
            <th>อีเมล์</th>
            <th>วันที่สร้าง</th>
            <th>วันที่แก้ไขล่าสุด</th>
            <th>#</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let use of user">
            <td>{{ use.id }}</td>
            <td>{{ use.name }}</td>
            <td>{{ use.email }}</td>
            <td>{{ use.created_at }}</td>
            <td>{{ use.updated_at }}</td>
            <td>
              <div class="button-group">
                <a style="cursor: pointer; color: red" (click)="destroy(use.id)">
                  <i class="material-icons">delete_forever</i>
                </a>
                <a style="cursor: pointer; color: orange" data-toggle="modal" data-target="#userModal" (click)="OnEdit(use.id);modalToggle('edit')">
                  <i class="material-icons">border_color</i>
                </a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

	</div>
</div>
